@font-face {
    font-family: 'SuseongHyejeong';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/suseong/SuseongHyejeong.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/suseong/SuseongHyejeong.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/suseong/SuseongHyejeong.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/suseong/SuseongHyejeong.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/suseong/SuseongHyejeong.ttf') format("truetype");
    font-display: swap;
} 